/* ma feuille de style */

header{
    display: grid;
}

main{
    display: grid;
}
#logo{
    border: solid 2px black;
    grid-column: 1;
    grid-row:1;
}

#courbe{
    border: solid 2px black;
    background-color: rgb(214, 179, 179);
    grid-column: 2 /span 3;
    grid-row:1;    
}

#formulaire{
    border: solid 2px #000000;
    background-color: blue;
    grid-column: 5;
    grid-row:1 ;  
}

#actu{
    border: solid 2px black;
    background-color: grey;
    grid-column: 2 /span 4;
    grid-row:2 /span 3;
} 
section{
    border: solid 2px black;
}

footer{
     display: grid;   
}

#w3c{
    border: solid 2px black;
    background-color: grey;
    grid-column: 1 /span 4;
    grid-row:1 /span 5;     
}

/* formulaire */

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid ;
    background: rgb(0, 255, 242);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid RED;
    box-sizing: border-box;
}

input[type=submit] {
    background-color:rgb(173, 134, 236) ;
    color: rgb(255, 251, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*MENU*/

nav {
    grid-column: 1;
    grid-row:2 /span 3;
    border: solid 2px red;
    background:#00bbbb;
    height:100%;
    width:250px;
    
}

/*supprime l'apparence par défaut de l'hypertexte*/

a {
  text-decoration:none;
  color:white;
  font-size: 13px;
  /*border-top:1px solid #03A2A2;*/ 
  /*Mettre le menu a la verticale*/
  display:table;
  /*Augmente la largeur du menu*/
  width:250px;
}

/*Effet au survol de la souris*/

a:hover{
   color:#fff;
   background-color:#1E2027; 
}

/*Ajout de style dans les icones*/

.fa {
  position: relative;
  width:70px;
  height: 36px;
  text-align: center;
  top:12px; 
  font-size:20px;
}

/*Centre le texte au milieu*/

nav .nav-text  {
  position:relative;
  top:12px;

/*FIN MENU*/
}